<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactServlet</display-name>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>servlets.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/CreateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheContactServlet</display-name>
    <servlet-name>RechercheContactServlet</servlet-name>
    <servlet-class>servlets.RechercheContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheContactServlet</servlet-name>
    <url-pattern>/RechercheContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificationContactServlet</display-name>
    <servlet-name>ModificationContactServlet</servlet-name>
    <servlet-class>servlets.ModificationContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationContactServlet</servlet-name>
    <url-pattern>/ModificationContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppressionContactServlet</display-name>
    <servlet-name>SuppressionContactServlet</servlet-name>
    <servlet-class>servlets.SuppressionContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionContactServlet</servlet-name>
    <url-pattern>/SuppressionContact</url-pattern>
  </servlet-mapping>
</web-app>